.faze{
    background: url('https://images.unsplash.com/photo-1562001840-fd117c10c81b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100%;
    width: 100%;
    left: 0;
    // top: 0;
    overflow: hidden;
    position:relative;
  }

.fazorito {
    box-shadow: 5px 8px 8px black;
}
.dece {
    box-shadow: 5px 8px 8px black;
}
img {
    max-height: 12rem;
    max-width: 17rem;
}
#box {
    min-height: 30rem;
    // margin: 1rem;
    padding: 2rem;
    text-align: center;
}

.frame {
    display: inline-block;
    vertical-align: top;
    width: 20rem;
    min-height: 20rem;
    margin: .25rem;
    padding: .5rem;
    text-align: center;
    border: 2px solid black;
    box-shadow: 5px 10px 18px black;
    background-color: bisque;
    border-radius: 3rem;
}