<h3>Write a Review for {{selectedProduct.title}}</h3>

<div class="container">
    <form (submit)="addRating(selectedProduct._id)">
        <div class="form-group">
            <label for="name">Your Name:</label>
            <input class="form-control" type="text" name="name" [(ngModel)]="newRating.name">
            <p *ngIf="newRating.name.length < 3"> ~Name must be at least 3 characters long~ </p>
        </div>
        <div class="form-group">
            <label for="rating">Rating</label>
            <select name="rating" [(ngModel)]="newRating.rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="form-group">
            <label for="comment">Comment: </label>
            <input class="form-control" type="text" name="comment" [(ngModel)]="newRating.comment">
            <p *ngIf="newRating.comment.length < 3"> ~Review must be at least 3 characters long~ </p>
        </div>
        <button class="btn btn-success" type="submit">Submit</button>
        <button class="btn btn-danger" [routerLink]="['/']">Cancel</button>
    </form>
</div>
