<div class="faze">
    <div class="container-fluid ml-5">
        <div class="row">
            <div class="col-7">
                <h3 class="display-4 mt-2 mb-4">What are people saying about your {{selectedProduct.species}}?</h3>
                <table class="dece table table-hover table-dark rounded">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Reviewer</th>
                            <th scope="col">Star Rating</th>
                            <th scope="col">Comment</th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr *ngFor="let review of selectedProduct.ratings">
                            <td>{{review.name}}</td>
                            <td>{{review.rating}}</td>
                            <td>{{review.comment}}</td>    
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-5">
                <img src="{{selectedProduct.image}}" class="rounded mt-5 ml-5 dece" width="200">
            </div>
        </div>
        <a class="dece btn btn-secondary btn-lg mt-4" [routerLink]="['/fishers', 'new_rating', selectedProduct._id]">Enter a New Rating & Comment</a>
    </div>
</div>