<nav class="navbar navbar-expand-lg navbar-light bg-light box-shadow" >
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/']">
      <img src="favicon.ico" width="30" height="30">
      Fish On!
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/fishers']">My Fish Log</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.tu.org/">TU</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.starwars.com/films/star-wars-episode-ix-the-rise-of-skywalker">Win Trip</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<div class="container-fluid p-0">
  <router-outlet></router-outlet>
</div>